@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');

@font-face {
    font-family: "Android";
    src: url('../fontes/IDroid.otf') format('opentype');
}
:root{
    --cor1: #F5F3F0;
    --cor2: #F5EADF;
    --cor3: #FFD6DE;
    --cor4: #FFAFBE;
    --cor5: #FF6073;
    --cor6: #D92B6B;
    --cor7: #fff;
    --cor8: rgb(0, 0, 0);

    --font-padrao: Arial, Verdana, Helvetica, sans-serif;
    --font-destaque:'Bebas Neue', cursive;
    --font-android: 'Android', cursive;
}

*{
    margin: 0px;
    padding: 0px;   
}


body {
    background-color: var(--cor3);
    font-family: var(--font-padrao);
    
}
a {
    color:var(--cor5);
    text-decoration: none;

}
a.externo::after {
    content: '\1F517';
}
a:hover{
    background-color: var(--cor5);
    color: var(--cor7);
    border-radius: 5px;
}

header{
    background-image: linear-gradient(to bottom, var(--cor3), var(--cor5));
    background-color: var(--cor4);
    min-height: 150px;
    text-align: center;
    padding-top: 40px;
}
header > h1{
    color: var(--cor7);
    font-family: var(--font-destaque);
    margin-bottom: 20px;
    font-size: 3em;
    text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.466);
}
header > p{
    color: var(--cor7);
    font-family: var(--font-padrao);
    font-size: 1.2em;
    max-width: 500px;
    padding-right: 10px;
    padding-left: 10px;
    margin: auto;
    text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.466);
}
nav{
    background-color: var(--cor5);
    padding: 10px;
    text-shadow: 0px 7px 7px rgba(0, 0, 0, 0.466);
}
nav a{
    color:var(--cor7);
    padding:10px;
    text-decoration: none;
    font-weight: bold;
    text-align: left;
    transition-duration: 0.3s;
}
nav a:hover{
    background-color: var(--cor7);
    color: var(--cor5);
    border-radius: 50px;
}
main{
    background-color: var(--cor7);
    min-width: 300px;
    max-width: 1000px;
    margin: auto; 
    padding: 20px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.281);
    margin-bottom: 300px;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}
main h1{
    color: var(--cor5);
    font-family: var(--font-android);
    background-color: var(--cor3);

}
main h2{
    color: var(--cor5);
    font-family: var(--font-android);
    background-color: var(--cor3);
}
main p{
    margin: 15px 0px;
    text-align: justify;
    text-indent: 30px;
    line-height: 2em;
    font-size: 1em;
    
}
main img {
    width: 100%;
}
main strong {
    color:var(--cor5);
    background-color: var(--cor2);
}
main img.pequena {
    display: block;
    max-width: 350px;
    margin: auto;
}
aside {
    background-color: var(--cor3);
    padding: 10px;
    border-radius: 10px;
    box-shadow: 3px 3px 8px rgba(0, 0, 0, 0.192);
    
}
aside > h3 {
    background-color: var(--cor4);
    color: var(--cor7);
    border-radius: 10px 10px 0px 0px;
    margin: -10px -10px 0px -10px;
    padding: 10px;
}
aside > ul {
    list-style-type: '\1F352\00A0\00a0';
    list-style-position: inside;
    columns:2;    
}

footer {
    background-color: var(--cor6);
    color: var(--cor7);
    text-align: center;
    font-size: 0.8rem;
    padding: 5px;
}
footer a {
    color: var(--cor7);
    font-weight: bolder;
    text-decoration: none;
}
footer a:hover {
    text-decoration: underline;
    color: var(--cor4);
}